<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buymyphone.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BuyMyPhoneApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="BuyMyPhone"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuyMyPhone">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity
            android:name=".ui.premium.PremiumActivity"
            android:exported="false" />

        <activity
            android:name=".ui.report.ReportPreviewActivity"
            android:exported="false" />

        <activity
            android:name=".ui.result.ResultActivity"
            android:exported="false" />

        <activity
            android:name=".ui.analysis.AnalysisActivity"
            android:exported="false" />

        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="false" />

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
